{% include 'base-top.html.twig' %}
<div class="container">
  
  <div class="container">
    <div class="form-group">
      
          <div class="form-group">

        <div class="alert alert-primary" role="alert">
           Période : de <strong>{{ startDate|date('d-m-Y') }}</strong> jusqu'au <strong>{{ endDate|date('d-m-Y') }}</strong>
        </div>
        </div>
      <form id="dateForm" method="POST" action="{{ path('add_product', {date: "dateSelected"}) }}">
        <input class="form-control" type="hidden" id="hiddenFieldDateSelector" name="dateSelected" value="dateSelectedValue">
        <input onchange="handler(event);" class="form-control" type="date" id="start" name="start">
      </form>
    </div>
    {% if products|length > 1 %}
      <table class="table table-bordered table-dark center">
        <tr>
          <th>Categorie</th>
          <th>Produit</th>
          <th>Détails produit</th>
          <th>Date d'achat</th>
          <th>Date d'expiration</th>
          <th>Quantité</th>
        </tr>
        {% for product in products %}
        <tr>
            <td>{{product.category.categName}}</td>
            <td>{{product.nameProduct}}</td>
            <td>{{product.detailsProduct}}</td>
            <td>{{product.purshaseDate|date("d/m/Y")}}</td>
            <td>{{product.expirationDate|date("d/m/Y")}}</td>
            <td>{{product.quantity}}</td>
        </tr>
        {% endfor %}
    </table>
  </div>
  <nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center">
      <li class="page-item {% if app.request.get('page') == 1 %} disabled {%endif%}">
        <a class="page-link" href="{{ path('products_by_month', {date: app.request.get('date'), page: app.request.get('page')-1}) }}" tabindex="-1"><B>Previous</B></a>
      </li>
      <li class="page-item {% if app.request.get('page') == lastPage %} disabled {%endif%}">
        <a class="page-link" href="{{ path('products_by_month', {date: app.request.get('date'), page: app.request.get('page')+1}) }}"><B>Next</B></a>
      </li>
    </ul>
  </nav>
  <button type="button" class="btn btn-primary" style="pointer-events: none">
    Page {{ app.request.get('page') }} / {{ lastPage }}
  </button>
  {% endif %}    
</div>
</body>
<script>
  function handler(e){
    var date = e.target.value + '-01';
    var dateParts = date.split('-');
    var selectedDate = dateParts[2] + '-' + dateParts[1] + '-' + dateParts[0];
    document.getElementById("hiddenFieldDateSelector").value = selectedDate;
    document.getElementById("dateForm").action = "/products/" + selectedDate;
    document.getElementById("dateForm").submit();
  }
</script>
